(
	users: (
		users: {
			"722468356711776269": (
				account: 722468356711776269,
				last_pay: "2022-05-07T19:07:14.821354378Z",
				organisations: [
					3,
					19,
				],
			),
			"737928480389333004": (
				account: 737928480389333004,
				last_pay: "2022-07-12T18:39:52.931927878Z",
				organisations: [],
			),
			"887020108696920116": (
				account: 887020108696920116,
				last_pay: "2022-07-12T15:58:57.487439871Z",
				organisations: [
					1,
					7,
					11,
					18,
					20,
					21,
					23,
					54,
					55,
					56,
					0,
					61,
					38,
				],
			),
			"653127445922316299": (
				account: 653127445922316299,
				last_pay: "2022-05-09T17:41:28.658548448Z",
				organisations: [
					22,
					25,
				],
			),
			"888167676512440352": (
				account: 888167676512440352,
				last_pay: "2022-03-03T17:46:43.140132233Z",
				organisations: [],
			),
			"630073509137350690": (
				account: 630073509137350690,
				last_pay: "2022-09-19T06:26:20.495972201Z",
				organisations: [
					12,
					4,
					47,
					48,
					51,
					52,
					53,
				],
			),
			"895756129026576474": (
				account: 895756129026576474,
				last_pay: "2022-03-03T17:46:43.140132233Z",
				organisations: [
					5,
					10,
				],
			),
			"709767987242074116": (
				account: 709767987242074116,
				last_pay: "2022-10-16T09:15:01.090236044Z",
				organisations: [],
			),
			"758042322364792974": (
				account: 24,
				last_pay: "-262144-01-01T00:00:00Z",
				organisations: [],
			),
		},
	),
	accounts: (
		personal_accounts: {
			895756129026576474: (
				name: "Elliott M.",
				balance: 95,
			),
			722468356711776269: (
				name: "Elliot F.",
				balance: 2677,
			),
			887020108696920116: (
				name: "Alan",
				balance: 1558,
			),
			737928480389333004: (
				name: "Louis",
				balance: 200,
			),
			653127445922316299: (
				name: "d man the almighty, heir of the soon to be new new cheeseland royal properties",
				balance: 2196,
			),
			24: (
				name: "The_Toppat_Man",
				balance: 2165,
			),
			709767987242074116: (
				name: "Adam",
				balance: 1187,
			),
			888167676512440352: (
				name: "Chino",
				balance: 2039,
			),
			630073509137350690: (
				name: "James",
				balance: 21241,
			),
		},
		organisation_accounts: {
			48: (
				name: "CMA",
				balance: 821,
			),
			52: (
				name: "Petitions",
				balance: 700,
			),
			22: (
				name: "the d man empire",
				balance: 0,
			),
			47: (
				name: "parliament",
				balance: 678,
			),
			12: (
				name: "Go Consulting Ltd.",
				balance: 17443,
			),
			25: (
				name: "a",
				balance: 0,
			),
			5: (
				name: "Children in Africa",
				balance: 256,
			),
			7: (
				name: "Auction House",
				balance: 596,
			),
			11: (
				name: "Short story long",
				balance: 543,
			),
			3: (
				name: "Casino",
				balance: 39,
			),
			19: (
				name: "jeffrey/",
				balance: 0,
			),
			55: (
				name: "Geography Homework Woes",
				balance: 468,
			),
			53: (
				name: "Contracts",
				balance: 700,
			),
			23: (
				name: "The Wekkly Chese",
				balance: 1142,
			),
			0: (
				name: "Treasury",
				balance: 89634,
			),
			1: (
				name: "Less Debt Fund",
				balance: 447,
			),
			56: (
				name: "OH LAWD HE COMIN",
				balance: 82,
				owned_bills: [
					63,
				],
				subscribed_bills: [
					63,
				],
			),
			20: (
				name: "Juscheese",
				balance: 447,
			),
			51: (
				name: "Constitution",
				balance: 700,
			),
			54: (
				name: "Green Socialist Ferrat Party (GSFP)",
				balance: 464,
			),
			4: (
				name: "Gladvertising",
				balance: 26,
			),
			38: (
				name: "\u{8}\u{8}\u{8}\u{7f}\u{7f}\u{7f}\u{7f}",
				balance: 131,
			),
			21: (
				name: "Esperanto-translator",
				balance: 447,
			),
			10: (
				name: "MfEA",
				balance: 0,
			),
			61: (
				name: "Delhi Sands Flower Loving Fly Conservation Society and Church",
				balance: 0,
				owned_bills: [
					62,
				],
			),
			18: (
				name: "Short Story Long Plus",
				balance: 478,
			),
		},
	),
	bills: {
		62: (
			name: "Save the Delhi Sands Flower Loving Fly",
			last_pay: 738439,
			interval: 7,
			amount: 500,
			owner: 61,
			subscribers: [],
		),
		63: (
			name: "Test Bill",
			last_pay: 738445,
			interval: 3,
			amount: 200,
			owner: 56,
			subscribers: [
				56,
			],
		),
	},
	next_account: 64,
	wealth_tax: 7.0,
	last_wealth_tax: "2022-10-16T05:00:00Z",
	last_day: 738445,
	treasury_balances: [
		82398,
		80898,
		80698,
		85567,
		85167,
		84967,
		64967,
		65467,
		62267,
		62267,
		68425,
		68225,
		77225,
		78925,
		78925,
		78725,
		78725,
		83732,
		85232,
		85232,
		69175,
		69175,
		74849,
		74649,
		74649,
		71649,
		85507,
		85507,
		85507,
		89834,
		89634,
	],
	wealth_taxes: [
		4869,
		6158,
		5007,
		5674,
		4527,
	],
	election: {
		"722468356711776269": [],
		"630073509137350690": [],
	},
	previous_time: "2022-10-16T09:14:20.947478169Z",
	previous_results: "James, 3\nElliot F., 0\n",
)